
@font-face {
  font-family:'testFont';
  src: url('KolbGrotesk-Regular.otf') format("opentype");
}

#wordlist {
  font-family: testFont;
  font-size:50px;
}

.main {
  
  }

.main p {
    margin: 0;
    background: black;
    color:white;
    top: 50%;
    left:50%;
    margin-right:-50%;
    padding-left:10px;
    padding-right:10px;
    margin-top:20%;
    transform: translate(-50%, -50%);
    
    font-family: testFont;
    font-size:100px;
  }
.background {
  
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
 height:10000px;
}



