<!DOCTYPE html>
<head>
	<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
<style>
	p span {
    border-right: .10em solid black;
    line-height: 10px;
    padding-left:10px;
    animation:

      blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black	; }
}

.background {
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
</style>
</head>
<body>
	<div class="main">
		<p class="word" ><span></span></p>
	</div>
		<div class="background" >
			→
			<div id="wordlist">
				{% for word in word_list %}
					{% if "*" in word %}
					<span style="white-space:nowrap;color:red">
					{{word[1:(word|length)-2]}}&emsp;</span>
					{% else %}
					<span style="white-space:nowrap;">{{word}}&emsp;</span>
					{% endif %}	
				{% endfor %}
			</div>
		</div>

<script>
	
	function poll() {
		$.ajax({
            url: '/newWord',
            type: 'GET',
            success: function(response) {
                console.log(response);
                if(response != '?' && response.length > 0) {
                	
                	if(response.indexOf('*') > -1) {
                		$('.word').text("[" + response.substring(0, response.length - 1) + "]");
                		$('#wordlist').prepend("<span style='white-space:nowrap;color:red'>" + response.substring(0, response.length - 1) + "&emsp;</span>\n")
                	}
                	else {
                		$('.word').text("[" + response +  "]");
                		$('#wordlist').prepend("<span style='white-space:nowrap;''>[" + response + "]&emsp;</span>\n")
                	}
                	$('.word').append('<span></span>')
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
	};

	setInterval(poll, 5000);
/*
	$(function() {
    $('button').click(function() {
    	$('button').hide();
    	$('.loader').show();
        $.ajax({
            url: '/newWord',
            type: 'GET',
            success: function(response) {
                console.log(response);
                $('.loader').hide()
                $('.word').text(response);
                $('button').show();
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});

*/
</script>


</body>
