<!DOCTYPE html>
<head>
	<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
</head>
<body>
	<div class="main">
		<div class="loader"></div>
<p class="word" ></p>
<p  >hello</p>
	<button >talk</button>
</div>

<script>

	$(function() {
    $('button').click(function() {
    	$('button').hide();
    	$('.loader').show();
        $.ajax({
            url: '/newWord',
            type: 'GET',
            success: function(response) {
                console.log(response);
                $('.loader').hide()
                $('.word').text(response);
                $('button').show();
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});


</script>


</body>
